@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.logo {
  width: 10.5rem;
  height: 6.0rem;
  border-radius: 50px;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin: 0rem .75rem 0rem .75rem;
  color: rgb(116, 163, 44) !important;
  border-top: 0.1875rem rgba(255, 255, 255, 0);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid white;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid white;
}

.header-wrapper {
  position: relative;
  background: url(./images/laptop_mercury.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  /* display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1 {
  color: rgb(116, 163, 44);
  font-weight: bold
}

.typed-text {
  font-size: 2rem;
  color: rgb(186, 121, 121);
  font-weight: bold
}

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
